<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Poker Buddy</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item routerLink="/game" routerLinkActive="selected">
        <ion-label>Games</ion-label>
      </ion-item>
      <ion-item routerLink="/game/add" routerLinkActive="selected">
        <ion-label>Add Game</ion-label>
      </ion-item>
      <ion-item routerLink="/profile" routerLinkActive="selected">
        <ion-label>Profiles</ion-label>
      </ion-item>
      <ion-item routerLink="/profile/add" routerLinkActive="selected">
        <ion-label>Add Profile</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>