<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Player Statistics
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="page-content">
    <div class="ion-padding chart-wrapper">
      <ion-list class="margin-bottom">
        <ion-item>
          <ion-select [multiple]="true" [(ngModel)]="selectedPlayerIds" (ionChange)="onPlayerSelectionChange()" label="Players" labelPlacement="floating" [selectedText]="getSelectedPlayersText()">
            <ion-select-option *ngFor="let player of profiles" [value]="player.id">{{ player.name }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <div class="chart-container">
        <canvas baseChart [data]="barChartData" [options]="barChartOptions" chartType="bar">
        </canvas>
      </div>
    </div>
  </div>
</ion-content>