<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="people-outline"></ion-icon>
      Profiles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="profiles-grid">
      <ion-card *ngFor="let profile of profiles" [routerLink]="['/profile', 'edit', profile.id]">
        <ion-card-header>
          <ion-card-title>{{profile.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Phone: {{profile.phone}}</p>
          <p>Email: {{profile.email}}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-buttons>
      <ion-button expand="block" routerLink="/profile/add" color="primary">
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
        Add
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>