<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pk Organizer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pk Organizer</ion-title>
    </ion-toolbar>
  </ion-header>  
  <div id="container">
    <ion-img
    src="../../assets/icon/favicon.png"
    alt="Site image"></ion-img>
    Helps you to record home poker with player buyins and settle balance between players.  
  </div>
</ion-content>