<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Poker Buddy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-img class="main-img" src="../../assets/icon/favicon.png" alt="Site image"></ion-img>
    <div class="ion-padding">
      <ion-text color="primary"><b>Poker Buddy</b></ion-text>
      <ion-text color="secondary"> helps you effortlessly manage your home poker games. Add players, track buy-ins,
        organize games, and settle balances. All in one place. Play stress-free while we handle the numbers!</ion-text>
    </div>
  </div>
</ion-content>